@import "fonts"
@import "libs"
@import "base"
@import "vars"

.grid
    display: grid

header
    height: 100vh
    background: #000000
    position: relative
    #myVideo
        position: absolute
        bottom: 0
        width: 100%
        opacity: .25
        z-index: 0
    .title
        position: relative
        top: 25%
        color: #ffffff
        text-align: center
    nav
        grid-template-columns: 10% 90%
        color: #ffffff
        .logo
            justify-self: center
            align-self: center
        .navigation
            margin: 0
            margin-top: 35px
            align-self: center
            justify-self: center
            list-style: none
            display: flex
            z-index: 1
            a
                color: #ffffff
                position: space-between
                margin-left: 25px
                text-decoration: none
                transition: color .2s ease
                &:hover
                    color: #a9a9a9
    .inf
        position: relative
        bottom: -10%
        .info
            color: #ffffff
            bottom: 120px
            left: 12%
            grid-template-columns: 1fr 1fr 1fr
            grid-template-rows: 1fr
            font-size: 24px
            .infoBlock
                margin-left: 50px
                .num
                    text-align: center
                    padding-bottom: 25px
                    position: relative
                    &::before
                        content: ''
                        height: 2px
                        width: 50%
                        position: absolute
                        background: url(/img/line.png)
                        bottom: 10%
                        left: 25%
                .text
                    text-align: center

.experts-section
    height: 100vh
    h2
        text-align: center
    .experts
        margin: 5% 2%
        grid-template-columns: repeat(4, 300px)
        grid-template-rows: 500px
        grid-gap: 15px
        .item
            border-radius: 10px
            position: relative
            background: #bebebe
            &:nth-child(1)
                background: url(/img/experts/events.jpg) no-repeat
                background-size: cover
                a.button
                    bottom: -55%
            &:nth-child(2)
                background: url(/img/experts/advertising.jpg) no-repeat
                background-size: cover
            &:nth-child(3)
                background: url(/img/experts/anime.png) no-repeat
                background-size: cover
            &:nth-child(4)
                background: url(/img/experts/online.jpg) no-repeat
                background-size: cover
            .title
                font-size: 18px
                position: relative
                bottom: -40%
                color: #000000
                text-align: center
            p
                font-size: 16px
                position: relative
                bottom: -40%
                color: #000000
                text-align: center
                margin: 0
            a.button
                font-size: 18px
                display: block
                position: relative
                text-decoration: none
                background: transparent
                color: #ffffff
                bottom: -50%
                border: 3px solid #ffffff
                border-radius: 20px
                padding: 20px 30px
                width: 66%
                text-align: center
                margin: auto
                transition: all .3s ease
                &:hover
                    background: #ffffff
                    color: #000000
                    
            
.cases-section
    margin-top: 170px
    h2
        text-align: center
        margin: 50px 0
    .case-item
        .content
            padding: 1% 5%
            margin-top: 70px
            height: 80vh
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr
            .description
                text-align: start
                line-height: 1.6
                h4
                    font-weight: bold
                    font-size: 22px
                    margin: 5px 0
                p
                    font-weight: normal
                    font-size: 16px
                    margin: 5px 0
            .video
                width: 100%
                iframe
                    width: 100%
                    height: 100%
    .images
        grid-template-columns: repeat(3, 220px)
        grid-template-rows: 210px
        grid-gap: 22px
        padding-top: 5%
        .img
            width: 100%
            img
                width: 80%
                margin: auto
                background: #dadada
                opacity: .7
                transition: opacity .3s ease
                &:hover
                    opacity: 1
    .breakdown-descr
        padding-top: 5%



.about-section
    margin-top: 170px
    height: 110vh
    padding: 0 5%
    h2
        text-align: center
    .info
        grid-template-columns: 1fr 1fr
    .image
        img
            margin-bottom: 100px

.works
    height: 85vh
    background: #bebebe
    padding: 5%
    .wrapper
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(2, 1fr)
        grid-gap: 10px
        .image
            border-radius: 10px
            height: 200px
            width: 100%
            background: #aeaeae
            display: grid
            justify-content: center
            align-items: center
            img
                width: 100%



.contact-section
    height: 90vh
    margin-top: 170px
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,233,234,1) 100%)
    .contacts
        margin-top: 100px
        grid-template-columns: 1fr 1fr
        grid-template-rows: 400px
        padding: 0 5%
        .info
            align-self: center
            .title
                font-size: 24px
                font-weight: bold
            .discr
                p
                    font-size: 20px
        .map
            .wrapper
                iframe
                    width: 100%
                    height: 100%
    h2
        text-align: center
        

footer.footer-section
    height: 60vh
    grid-template-columns: 10% 45% 45%
    grid-template-rows: 1fr 
    text-align: center
    padding-top: 3%
    background: grey




@import "media" // Всегда в конце
