<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">

    <title>Wnogmedia | Реклама</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="sass/main.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <style>
        body {
            opacity: 0;
            overflow-x: hidden;
        }
        
        html {
            background-color: #fff;
        }
    </style>

</head>

<body>

    <header>
        <div class="main">
            <h1>Реклама</h1>
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus vero esse, accusantium praesentium distinctio error, labore doloremque accusamus possimus consequuntur magni optio? Sed voluptatem accusamus tempora fugiat rem cupiditate
                rerum.
            </h2>
        </div>
    </header>
    <div class="cases-section">
        <h2>Реклама</h2>
        <div class="case-item" style="background: linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(225,230,234,1) 100%);">
            <div class="content grid">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/QEkwuXM56UE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="description">
                    <h4 class="orderer">Заказчик:</h4>
                    <p class="order">компания по разработке электровелосипедов “Unicorn Electrics"</p>
                    <h4 class="goal">Задача</h4>
                    <p class="goal-disc">Снять серию эффектных рекламных роликов про электровелосипеды “Unicorn Electrics" в таких странах, как: Италия и Испания.</p>
                    <h4 class="result">Результат:</h4>
                    <p class="result-desc">- Показаны достоинства и удобства электровелосипедов. <br> - Показаны возможности коллабораций с отелями и туризмом. <br> - Высокая просматриваемость каждого ролика в социальных сетях <br> - Привлечение новых клиентов на установку
                        велостанций
                    </p>
                </div>
                <div class="images grid">
                    <div class="img">
                        <a href="./img/cases/bobo1.jpg" data-fancybox="gallery"><img src="./img/cases/bobo1.jpg" alt=""></a>
                    </div>
                    <div class="img">
                        <a href="./img/cases/bobo2.jpg" data-fancybox="gallery"><img src="./img/cases/bobo2.jpg" alt=""></a>
                    </div>
                    <div class="img">
                        <a href="./img/cases/bobo3.jpg" data-fancybox="gallery"><img src="./img/cases/bobo3.jpg" alt=""></a>
                    </div>
                </div>
                <div class="breakdown-descr">
                    <p class="breakdown"> <a href="https://youtu.be/ynZvK9Hyarw ">Виде бэкстейдж</a></p>
                </div>
            </div>
        </div>
        <div class="case-item">
            <div class="content grid">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/7iiikN8J-T8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="description">
                    <h4 class="orderer">Заказчик:</h4>
                    <p class="order">Чайная компания Yanyshev Tea.

                    </p>
                    <h4 class="goal">Задача</h4>
                    <p class="goal-disc">Снять вдохновляющих рекламный ролик для национальной ресторанной премии - WHERETOEAT 2019. Передать атмосферу бренда Yanyshev Tea.
                    </p>
                    <h4 class="result">Результат:</h4>
                    <p class="result-desc">- Победа на ресторанной премии “WHERETOEAT” в номинации "Выбор СМИ" <br> - Создание имиджа для бренда "Yanyshev Tea" <br> - Контент для социальных сетей.
                    </p>
                </div>
                <div class="images grid">
                    <div class="img">
                        <a href="./img/cases/tea1.jpg" data-fancybox="gallery"><img src="./img/cases/tea1.jpg" alt=""></a>
                    </div>
                    <div class="img">
                        <a href="./img/cases/tea2.jpg" data-fancybox="gallery"><img src="./img/cases/tea2.jpg" alt=""></a>
                    </div>
                    <div class="img">
                        <a href="./img/cases/tea3.jpg" data-fancybox="gallery"><img src="./img/cases/tea3.jpg" alt=""></a>
                    </div>
                </div>
                <div class="breakdown-descr">
                    <p class="breakdown">Бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла</p>
                </div>
            </div>
        </div>
        <div class="case-item" style="background: linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(225,230,234,1) 100%);">
            <div class="content grid">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/QEkwuXM56UE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="description">
                    <h4 class="orderer">Заказчик:</h4>
                    <p class="order">компания по разработке электровелосипедов “Unicorn Electrics"</p>
                    <h4 class="goal">Задача</h4>
                    <p class="goal-disc">Снять серию эффектных рекламных роликов про электровелосипеды “Unicorn Electrics" в таких странах, как: Италия и Испания.</p>
                    <h4 class="result">Результат:</h4>
                    <p class="result-desc">- Показаны достоинства и удобства электровелосипедов. <br> - Показаны возможности коллабораций с отелями и туризмом. <br> - Высокая просматриваемость каждого ролика в социальных сетях <br> - Привлечение новых клиентов на установку
                        велостанций
                    </p>
                </div>
                <div class="images grid">
                    <div class="img">
                        <a href="./img/cases/bobo1.jpg" data-fancybox="gallery"><img src="./img/cases/bobo1.jpg" alt=""></a>
                    </div>
                    <div class="img">
                        <a href="./img/cases/bobo2.jpg" data-fancybox="gallery"><img src="./img/cases/bobo2.jpg" alt=""></a>
                    </div>
                    <div class="img">
                        <a href="./img/cases/bobo3.jpg" data-fancybox="gallery"><img src="./img/cases/bobo3.jpg" alt=""></a>
                    </div>
                </div>
                <div class="breakdown-descr">
                    <p class="breakdown"> <a href="https://youtu.be/ynZvK9Hyarw ">Виде бэкстейдж</a></p>
                </div>
            </div>
        </div>
        <div class="case-item">
            <div class="content grid">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/7iiikN8J-T8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="description">
                    <h4 class="orderer">Заказчик:</h4>
                    <p class="order">Чайная компания Yanyshev Tea.

                    </p>
                    <h4 class="goal">Задача</h4>
                    <p class="goal-disc">Снять вдохновляющих рекламный ролик для национальной ресторанной премии - WHERETOEAT 2019. Передать атмосферу бренда Yanyshev Tea.
                    </p>
                    <h4 class="result">Результат:</h4>
                    <p class="result-desc">- Победа на ресторанной премии “WHERETOEAT” в номинации "Выбор СМИ" <br> - Создание имиджа для бренда "Yanyshev Tea" <br> - Контент для социальных сетей.
                    </p>
                </div>
                <div class="images grid">
                    <div class="img">
                        <a href="./img/cases/tea1.jpg" data-fancybox="gallery"><img src="./img/cases/tea1.jpg" alt=""></a>
                    </div>
                    <div class="img">
                        <a href="./img/cases/tea2.jpg" data-fancybox="gallery"><img src="./img/cases/tea2.jpg" alt=""></a>
                    </div>
                    <div class="img">
                        <a href="./img/cases/tea3.jpg" data-fancybox="gallery"><img src="./img/cases/tea3.jpg" alt=""></a>
                    </div>
                </div>
                <div class="breakdown-descr">
                    <p class="breakdown">Бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла</p>
                </div>
            </div>
        </div>
        <div class="case-item" style="background: linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(225,230,234,1) 100%);">
            <div class="content grid">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/QEkwuXM56UE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="description">
                    <h4 class="orderer">Заказчик:</h4>
                    <p class="order">компания по разработке электровелосипедов “Unicorn Electrics"</p>
                    <h4 class="goal">Задача</h4>
                    <p class="goal-disc">Снять серию эффектных рекламных роликов про электровелосипеды “Unicorn Electrics" в таких странах, как: Италия и Испания.</p>
                    <h4 class="result">Результат:</h4>
                    <p class="result-desc">- Показаны достоинства и удобства электровелосипедов. <br> - Показаны возможности коллабораций с отелями и туризмом. <br> - Высокая просматриваемость каждого ролика в социальных сетях <br> - Привлечение новых клиентов на установку
                        велостанций
                    </p>
                </div>
                <div class="images grid">
                    <div class="img">
                        <a href="./img/cases/bobo1.jpg" data-fancybox="gallery"><img src="./img/cases/bobo1.jpg" alt=""></a>
                    </div>
                    <div class="img">
                        <a href="./img/cases/bobo2.jpg" data-fancybox="gallery"><img src="./img/cases/bobo2.jpg" alt=""></a>
                    </div>
                    <div class="img">
                        <a href="./img/cases/bobo3.jpg" data-fancybox="gallery"><img src="./img/cases/bobo3.jpg" alt=""></a>
                    </div>
                </div>
                <div class="breakdown-descr">
                    <p class="breakdown"> <a href="https://youtu.be/ynZvK9Hyarw ">Виде бэкстейдж</a></p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-section grid">
        <div class="logo">Лого</div>
        <div class="text">Text Text Text Text Text Text Text TextText Text Text TextText Text Text TextText Text Text TextText Text Text Text Text Text Text Text Text Text TextText Text Text TextText Text Text TextText Text Text TextText Text Text Text Text Text Text Text
            Text Text TextText Text Text TextText Text Text TextText Text </div>
        <div class="contacts">Контакты</div>
    </footer>

    <link rel="stylesheet" href="css/main.min.css">
    <script src="js/scripts.min.js"></script>

</body>

</html>